@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: "Inter", sans-serif !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-sans) !important;
  /* background-image: url('/backgrounds/sunset-clouds.jpg'); */
  /* background: rgb(110, 211, 221);
  background: -moz-linear-gradient(180deg, rgba(110, 211, 221, 1) 0%, rgba(27, 133, 175, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(110, 211, 221, 1) 0%, rgba(27, 133, 175, 1) 100%);
  background: linear-gradient(180deg, rgba(110, 211, 221, 1) 0%, rgba(27, 133, 175, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6ed3dd", endColorstr="#1b85af", GradientType=1); */
  @apply backdrop-blur-xs bg-slate-300;
}

/* .dp-frame {
  @apply p-3 text-center rounded-3xl bg-white/20 backdrop-blur-lg shadow-md border border-white/10;
} */
.container {
  @apply p-10 pt-5 text-center rounded-2xl bg-white/55 border border-white/20;
  height: 100%;
}

.datapoint {
  @apply flex justify-between items-center gap-2 border-b border-slate-300 py-2 w-1/2;
}

.datapoint p span {
  display: block;
}

.pac-container {
  z-index: 9999 !important;
  background-color: #1e293b !important;
  color: #e2e8f0 !important;
  border-radius: 0.5rem !important;
  font-family: var(--font-inter, sans-serif) !important;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4) !important;
}

.pac-item {
  padding: 0.5rem 1rem 0.5rem 2rem !important;
  font-size: .8rem !important;
  color: #e2e8f0 !important;
  background-color: #1e293b !important;
  border-bottom: 1px solid #334155 !important;
  position: relative;
}

.pac-item::before {
  content: "";
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background-image: url('/icons/location-dot.svg');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.pac-item-query {
  font-weight: bold;
  color: #3cacb0;
  margin-right: 0.25rem;
}

.pac-matched {
  font-weight: bold;
  color: #5ce1e6;
}

.pac-item:hover {
  background-color: #334155 !important;
  /* slightly lighter slate */
}

.hdpi.pac-logo:after {
  display: none;
}

.pac-icon-marker {
  display: none;
}